.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;
}


.navbar-dark {
    background-color: #ff0f0f;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

#modalheader1 {
    background-color: #512da8;
}

#carousel-button {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

#imagemain {
    border-radius: 50%;
    border: 1px solid rgb(44, 77, 77);
    padding: 10px;
    /* position: relative; */
    top: -50px;
    width: 35%;
    height: 15%;
    transition: all 0.4s ease;
}

#imagemain:hover {
    border-radius: 50%;
    border: 1px solid rgb(44, 77, 77);
    padding: 10px;
    /* position: relative; */
    top: -50px;
    width: 40%;
    height: 20%;
}


/*---------------------------- Extra Editing --------------------------------------------------*/


#resume {
    width: 7.7em;
    height: 3.5em;
    background-color: #220ddfbe;
    border-radius: 10px;
}


#rectangle {
    width: 20%;
    height: 6em;
    float: left;
    border: 1px solid #da0d0d;
    border-radius: 10px;
}

.boxed {
    border: 1px solid green;
    float: center;
    width: 77%;
    height: 6em;
    border-radius: 10px;
}



.modals {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(54, 41, 41, 0.8);
    /* Black w/ opacity */
}

/* Modal Content */
.modals-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}